<main>
  <h3>Conclusions</h3>
  <p>My electric use matches the duck curve for certain time periods. A good example is weekdays in October. See how the red line mimics the blue bars:</p>
  <img src='october.png' style='width: 50%; margin-bottom: 15px;'/>
  <p>The early data for weekdays in January shows a clear mismatch between solar generation and my consumption:</p>
  <img src='january.png' style='width: 50%; margin-bottom: 15px;'/>
  <p>The trend is much less pronounced for days on the weekend.</p>
  <h2>Summary</h2>
  <p>We can clearly see that taking action to better match solar generation and electricity demand will be needed. Some suggestions could include:</p>
  <ul>
    <li>Workplace charging for my electric vehicle: We purchased a Chrysler Pacifica Hybrid in mid-December, which we usually plug in to charge overnight. This may be why the duck curve is less noticable in January than it was in October - charging starts late at night and demand stays high until morning. If we charge the car during the day when it's at my wife's office, its demand would match solar generation very well.</li>
    <li>Battery storage: The price of battery storage is dropping so fast that we can now provide solar plus storage for prices similar to natural gas peaker plants. It is entirely feasible to meet all demand with renewables and storage.</li>
    <li>Sharing wind and solar between regions through HVDC transmission lines: Often wind and solar are available at different times and can therefore complement each other.</li>
  </ul>
</main>
