runtime: go
api_version: go1

handlers:
- url: /.*
  script: _go_app

skip_files:
- ^(.*/)?#.*#$
- ^(.*/)?.*~$
- ^(.*/)?.*\.py[co]$
- ^(.*/)?.*/RCS/.*$
- ^(.*/)?\..*$
- front-end/
- app.yaml.example

env_variables:
  NEURIO_CLIENT_SECRET: ''
  NEURIO_CLIENT_ID: ''
  NEURIO_SENSOR_ID: ''
